#!/bin/bash
REMOTE_HOST=remote

# two arrays of directories.
# files within ${REMOTE_DIRS[0]} end up in ${LOCAL_DIRS[0]}.  files within
# ${REMOTE_DIRS[1]} end up in ${LOCAL_DIRS[1]} and have their owner
# changed to $LOCAL_FILE_USER:$LOCAL_FILE_GROUP
REMOTE_DIRS=( /location1/to/replicate/ /location2/to/replicate/ )
LOCAL_DIRS=( /files/end/up/in/this/subdirectory /files2/end/up/in/this/subdirectory ) 

LOCAL_FILE_USER=applications
LOCAL_FILE_GROUP=applications

#A data base will also be replocated.
#the local and remote usernames will be honoured, but the db will be
#completely moved!!

DB_NAME=db_name
REMOTE_DB_UNAME=pgsql91
LOCAL_DB_UNAME=pgsql91


#The location of the database binaries to use.
LOCAL_DB_BINDIR=/data/PostgreSQL/9.1/bin/

# DRY_RUN=-n
